In [1]:
import numpy as np

**Valid Sudoku**

In [2]:
s = np.array([
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
])

**General Questions**

In [3]:
s.sum()

np.int64(405)

In [4]:
np.sum(s,axis = 1)

array([45, 45, 45, 45, 45, 45, 45, 45, 45])

In [5]:
b = np.sum(s,axis = 1)
b==45

array([ True,  True,  True,  True,  True,  True,  True,  True,  True])

In [6]:
slice1 = s[0:3,0:3]
slice1

array([[5, 3, 4],
       [6, 7, 2],
       [1, 9, 8]])

In [7]:
np.sum(slice1)

np.int64(45)

In [8]:
slice2 = s[0:3,3:6]
slice2

array([[6, 7, 8],
       [1, 9, 5],
       [3, 4, 2]])

In [9]:
np.sum(slice2)

np.int64(45)

In [10]:
for i in range(0,9,3):
    for j in range(0,9,3):
        n = s[i:i+3,j:j+3]
        print(n.sum())

45
45
45
45
45
45
45
45
45

In [11]:
import numpy as np

# Columns: [Age, Math Marks, Science Marks]
data = np.array([
    [18, 85, 78],   # Student 1
    [19, 92, 88],   # Student 2
    [17, 76, 95],   # Student 3
    [18, 65, 70],   # Student 4
    [20, 90, 85]    # Student 5
])

In [12]:
#Get the shape of the matrix.
data.shape

(5, 3)

In [13]:
#Find the average age of students.
age = data[:,:1]
age

array([[18],
       [19],
       [17],
       [18],
       [20]])

In [14]:
#Extract Math marks of all students.
age.mean()

np.float64(18.4)

In [15]:
#Find the highest Science mark.
science = data[:,1:2]
science

array([[85],
       [92],
       [76],
       [65],
       [90]])

In [16]:
science.max()

np.int64(92)

In [17]:
#Get details of the student who scored more than 90 in Math.

math =data[data[:,1]  >90]
math

array([[19, 92, 88]])

In [18]:
#Increase Math marks of all students by 5.
data[:,1] += 5
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [19]:
len(data[data[:,0] < 19])

3

In [20]:
#Find how many students are younger than 19.

In [21]:
#Calculate the average marks in each subject (column-wise mean).
np.mean(data[:,1:], axis = 0)

array([86.6, 83.2])

In [22]:
#Get data of students who scored at least 80 in both subjects.
data[  (data[:,1] >= 80) &  (data[:,2] >= 80) ]

array([[19, 97, 88],
       [17, 81, 95],
       [20, 95, 85]])

In [23]:
#Replace all Science marks < 75 with 0.
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18, 70, 70],
       [20, 95, 85]])

In [24]:
data[:,1][data[:,1] < 75 ]= 0
data

array([[18, 90, 78],
       [19, 97, 88],
       [17, 81, 95],
       [18,  0, 70],
       [20, 95, 85]])